body {
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    margin-top: 0px;
    padding: 0;
    width: 15%;
    background-color: #00ccff;
    position: fixed;
    height: 80%;
    overflow: auto;
    position:absolute;
    }

    .ul2 {
      list-style-type: none;
      margin-top: 0px;
      padding: 0;
      width: 15%;
      background-color: #00ccff;
      position: fixed;
      height: 92.65%;
      overflow: auto;
      position:absolute;
      }
  

  .head {
    float:inline-end;
    padding: 150px;
    width: 70%;
    background-color: #f1f1f1;
    height: 300px; /* only for demonstration, should be removed */
    }

    li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.home {
    background-color: black;
    color: white;
  }
  
  li a:hover:not(.home) {
    background-color:grey;
    color: white;
  }
  
.li a.mypic{
    border: 1px solid black;
    position: relative;
    margin-top: px;
    vertical-align: middle;
    }

    div.name {
        background-color:black;
        text-align: center;
        font-size: 25px;
        color: white;
        border: 2px solid rebeccapurple;
        padding: .5em;
      }
      

li a.fok2 {
    background-color:black;
    color: white;
  }
  
  li a:hover:not(.fok2) {
    background-color:grey;
    color: white;
  }
  
.li a.mypic2{
    border: 1px solid black;
    position: relative;
    margin-top: px;
    vertical-align: middle;
    }

li a.contact3 {
    background-color: black;
    color: white;
  }
  
  li a:hover:not(.contact3) {
    background-color:grey;
    color: white;
  }
  
.li a.mypic3{
    border: 1px solid black;
    position: relative;
    margin-top: px;
    vertical-align: middle;
    }

    footer{
      padding: 10px 400px;
      background-color: brown;
      }

      .self-card {
        width: 400px;
        height: 400px;
        background: rgba(255, 255,255, 0.05);
        background-color:rgb(38, 38, 59);
        box-shadow: 0 15px 35px rgba(0,0,0,0.2);
        border-radius: 25px;
        margin: 10px 250px;
        margin-top: -60px;
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        backdrop-filter: blur(20px);
    }
